<!DOCTYPE html>
<html>
<head>
    <title>Pagina de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la aplicacion de tareas</h1>
    <p>Esta es la página de inicio de tu aplicación de tareas. Desde aquí, puedes navegar a las diferentes secciones para gestionar tus tareas.</p>
    
    <nav>
        <ul>
            <li><a href="{% url 'tarea-list' %}">Ver Lista de Tareas</a></li>
            <li><a href="{% url 'tarea-create' %}">Crear Nueva Tarea</a></li>
        </ul>
    </nav>
</body>
</html>